# SUPABASE
SUPABASE_URL=https://jfpetiagazbszryrskqe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmcGV0aWFnYXpic3pyeXJza3FlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMTYwNDYsImV4cCI6MjA4Nzc5MjA0Nn0.2Ap6b-BOg28JmUQgjzpOpwG1PW1v3GSxlBeY711SZNo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmcGV0aWFnYXpic3pyeXJza3FlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIxNjA0NiwiZXhwIjoyMDg3NzkyMDQ2fQ.J3i1pNlnZ4kpl8-P0872msV_GBGeino4C3F72CBX6RA

# APP
APP_URL=http://localhost:3000
