# SUPABASE
SUPABASE_URL=https://brwnbcmoyncdcywrjpmh.supabase.co
SUPABASE_ANON_KEY=sb_publishable_rpUKyzo-1p0I71XGNZA6bg_lmoi0uht
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Ybyw52tRMl-2PVhswxe9cA_CSboREUK

# APP
APP_URL=http://localhost:3000
